:root {
  --primary: #7A5E88;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 0;
  color: var(--primary);
}

hr {
  color: var(--primary);
}

.btn {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.25s;
  font-weight: bold;
  margin: 0.5rem;
}
.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: var(--primary);
}

.hidden {
  display: none;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}
.cards-container img {
  max-width: 100%;
  width: 100%;
}
.cards-container img:hover {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  backdrop-filter: blur(15px);
}
.modal__content {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
}
.modal__img {
  margin: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 90%;
}
.modal__img:hover {
  cursor: pointer;
}
.modal__close-btn {
  position: fixed;
  top: 25px;
  right: 20px;
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
.modal__close-btn:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 992px) {
  .filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
.filters__filter {
  border: 2px solid var(--primary);
  border-radius: 1rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
}
.filters__title {
  text-align: center;
  margin-top: 0;
}
.filters__list {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 620px) {
  .filters__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 800px) {
  .filters__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  .filters__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .filters__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.filters__list-item {
  margin: 0.25rem;
  display: flex;
  align-items: center;
}
.filters__input {
  margin: 0 0.25rem 0 0;
}
.filters__input[type=checkbox] {
  accent-color: var(--primary);
}
.filters__input:hover {
  cursor: pointer;
}
.filters__label:hover {
  cursor: pointer;
}
.filters__btn-container {
  display: flex;
  justify-content: center;
}
.filters__btn-container .btn {
  margin: 0.5rem;
}
.filters__icon {
  max-height: 25px;
  margin-left: 0.25rem;
}

.results-box {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.tab-btns {
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}

.fighter-select-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}
.fighter-select-container label {
  margin-right: 0.5rem;
}

.fighter {
  max-width: 100%;
}
.fighter__boards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.fighter__boards--two {
  grid-template-columns: 1fr 1fr;
}
.fighter__data {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.fighter__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 1rem;
}
.fighter img {
  max-width: 100%;
  width: 100%;
}
.fighter img:hover {
  cursor: pointer;
}

.two-col-table {
  border-collapse: collapse;
  width: 100%;
}
.two-col-table td {
  border: 1px solid #333;
  padding: 8px;
}
.two-col-table td,
.two-col-table tr {
  width: 50%;
  text-align: center;
}
.two-col-table .col1 {
  background-color: #e3f0ff; /* Light blue for column 1 */
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */