body {
    padding: 1rem;
    margin: 0;
    background-image: url('../img/tt-bg-purple.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    img {
        max-width: 100%;
    }
}