body {
    padding: 1rem;
    margin: 0;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;

    img {
        max-width: 100%;
    }
}